<h1>Burgers!</h1>

<h2>Burgers to Devour!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    {{!-- what is the "burger-block" thing --}}
      {{> burgers/burger-block devoured=true}} 
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" action="/" methods="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    {{!--Potentially reference Act 09 day planner on id's--}}
    <input type="text" id="bu" name="name"> 
  </div>

  <button type="submit">Add Burger</button>
</form>
