<h1>Burgers!</h1>

<h2>Nom-a-Burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    {{!-- what is "burger-block" --}}
      {{> burgers/burger-block devoured=false}} 
    {{/unless}}
  {{/each}}
</ul>

<h2>Nommed Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Moar Burgers</h2>
<form class="create-form" action="/" methods="POST">

  <div class="form-group">
    <label for="ca">What's your Burger?</label>
    {{!--Potentially reference Act 09 day planner on id's--}}
    <input type="text" id="bu" name="burger_name"> 
  </div>

  <button type="submit">Add Burger</button>
</form>
