body {
    margin: 10px;
    padding: 5px;
    background: rgb(218, 250, 221);
    font-family: 'Baloo Da 2', cursive;

}
.header{
    text-align: center;
}
.main-container{
    margin-top: 30px;
    color: rgb(40, 199, 119);
    background: rgb(245, 250, 203);
    border-radius: 25px;
    box-shadow: 10px 10px 8px #888888;
}

.more-burgers{
    text-align: center;
    margin-top: 20px;
}

.btn{
    background: rgb(40, 199, 119);
    color: rgb(218, 250, 221);
    margin-left: 5px;
    border-radius: 25px;
}

.items1{
    margin: 2px 8px 2px 8px;
    line-height: 2.25;
    vertical-align: middle;
    padding:5px;
}

.items2{
    margin: 2px 8px 2px 8px;
    padding:5px;
}

.create-form{
    margin-bottom: 15px;
}

.input-form{
    margin-left:5px;
    border-radius: 25px;
    padding: 5px;
}
.burger-img{
    margin-top: 15px;
    border-radius:110px;
}